<header class=" flex justify-between items-center container py-4 shadow-sm">
    <a href="/">
    <div class="flex items-center gap-4">
    <img src="https://static.wixstatic.com/media/be0975_48eeb4e6d34a4a62845d6f44c0715540~mv2.png/v1/fill/w_100,h_100,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/logo%203-04.png" alt="logo" class="w-16">
    <p class="text-lg font-semibold">AK5 INTERIOR DESIGN CO.</p>
    </div>
  </a>
    <nav >
      <ul class="flex gap-6 text-lg font-semibold uppercase">
        <li><a href="/">Home</a></li>
        <li><a href="/#projects">Services</a></li>
        <li><a href="/#testimonials">Testimonials</a></li>
        <li><a href="/#blog">Blogs</a></li>
        <li><a href="/about">About Us</a></li>
      </ul>
    </nav>
  </header>